:root {
    --font-size:         1rem;

    --border-color:      var(--pico-muted-border-color);
    --accent-color:      var(--pico-color-pink);

    --link-active-color: var(--accent-color);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* HEADER ---------------------------------------- */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
}

#main-header > * {
    margin: 0;
}

#main-header > a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}


/* FOOTER ---------------------------------------- */

#main-footer {
    text-align: center;
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
}


/* NAV ---------------------------------------- */

#main-nav {
    align-items: center;
    font-size: 1.1rem;
}

#main-nav menu {
    margin: 0;
}


#main-nav a[aria-current="page"] {
    color: var(--link-active-color);
    text-decoration: underline;
}


/* MAIN ---------------------------------------- */

main {
    flex: 1;
    max-width: 60rem;
}


/* LAYOUT ---------------------------------------- */

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

article {
    border: 1px solid var(--border-color);
    min-height: 6rem;
}















#menu-links li {
    width: 100%;                /* full width for bigger click target */
}

#menu-links a {
    display: block;             /* full width for bigger link target */
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

/* The list of links */
#menu-links {
    position: fixed;            /* will sit before page and not scroll */
    top: 0;                     /* full height, from top to bottom */
    bottom: 0;

    width: 12rem;               /* presently positioned off right side */
    right: -12rem;

    display: flex;              /* vertical menu */
    flex-direction: column;
    align-items: start;
    gap: 1rem 1.5rem;

    margin: 0;                  /* remove normal list styling */
    padding: 1rem;
    list-style: none;

    background-color: #369;
    color: #fff;

    transition: all 300ms ease-out;
}

/* Slide in from right when shown */
#main-nav.show #menu-links {
    right: 0;
}

/* Create a pseudo-element to shade the page content */
#main-nav::before {
    content: '';

    position: fixed;            /* cover whole of screen */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;       /* allow mouse events to pass through */

    background-color: #000;

    opacity: 0;                 /* initially transparent */
    transition: all 500ms;
}

/* Animate the shade's opacity when menu shown */
#main-nav.show::before {
    opacity: 0.8;
}

/* Changes applied for desktop viewing */
@media screen and (min-width: 850px) {

    #menu-links {
        position: static;               /* turns off fixed positioning */
        width: auto;                    /* and the fixed width */
        padding: 0;                     /* and the mobile padding */

        flex-direction: row;            /* switch to horizontal menu */

        background-color: transparent;  /* remove mobile menu styling */
        color: inherit;

        transition: none;               /* no more animations needed */
    }

    #menu-open {
        display: none;                  /* hide the mobile button */
    }

    #main-nav.show::before {
        opacity: 0;                     /* make sure overlay is off */
    }
}
